# Exercise 1
LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [17]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [36]:
lesser_of_two_evens(4,6)

4

# Exercise 2
ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [18]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

# Exercise 3

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [24]:
def make_twenty(a,b):
    if (a + b) == 20 or a==20 or b==20:
        return True
    else:
        return False

# Exercise 4
OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [28]:
def old_macdonald_1(name):
    if len(name)>3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'name is too short'

In [102]:
def old_macdonald_2(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [110]:
def old_macdonald_3(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize()+second_half.capitalize()

#the capitalize() only puts capital letter on first letter in a word, or section of a word

# Exercise 5
MASTER YODA: Given a sentence, return a sentence with the words reversed

In [34]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

#the join() joins split strings into one string

In [115]:
list = ['a', 'b', 'c']
'  '.join(list)

#can also add anything to the ' ' to separate the items in the joined new list

'a  b  c'

# Exercise 6
ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [37]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

#abs yields the 'absolute value'

# Exercise 7
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [117]:
def has_33_1(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

#the len(num)-1 is for checking through the list, up to the before-the-last item. so as to create a check for the next item

In [122]:
def has_33_2(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [127]:
def has_33_3(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

# Exercise 8
PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [68]:
def paper_doll(text):
    result = ''
    for i in text:
        result += i*3
    return result

#could have said return i+i+i

# Exercise 9
BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [78]:
def blackjack(x,y,z):
    n = x+y+z
    if n<= 21:
        return n
    elif n <=31 and 11 in (a,b,c):
        return n-10
    else:
        return 'BUST'

In [128]:
def blackjack_2(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,bc] and sum([a,b,c]) <= 21:
        return sum([a,b,c])-10
    return 'BUST'

# Excercise 10
SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [83]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

# ! is for 'not',num!=4 means num not 4
#the 'break' only works within the while loop they are in

# Exercise 11
SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [130]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

# here we creats a list (code) with the sequence we want. then the 'for num in' runs through the list, poping off 1st, 2nd and 3rd terms, until only the remnant 'x' remains
#so you get code = [0,0,7,'x']
#next [0,7,'x']
#next [7, 'x']
#next ['x']
#this, with each application of the pop
#after the poping, if the remaining has len()=1, then we did have 0,0,7 in that order

# Exercise 12
COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [97]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

#'if num < 2' gives a starting point (2 is a prime numnber)
#primes = [2] ensures that we start from 2, and the x=3 means we start with number 3
#for y in range(3,x,2) | we check, starting from 3 until x, in gaps of 2
#x%y==0, checks for prime number
#the x+=2 (add 2, hop ahead), then break

# Exercise 13
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

In [99]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])