# 1. Advanced Numbers

In [1]:
type(hex)

builtin_function_or_method

In [2]:
hex(12)

'0xc'

In [3]:
type(bin)

builtin_function_or_method

In [4]:
bin(128)

'0b10000000'

In [6]:
pow(2,4)      #same as 2**4

16

In [7]:
abs(-3)     #gives absolute

3

In [9]:
round(3.9)   #rounds num

4

In [12]:
round(3.14252,3)       #provides dec place

3.143

# 2. Advanced Strings

In [13]:
s = "hello world"

In [14]:
s.capitalize()

'Hello world'

In [15]:
s.upper()

'HELLO WORLD'

In [16]:
s.lower()

'hello world'

In [19]:
s.count('o')   #counts numbers of 'o's

2

In [22]:
s.find('w')   #locates the first 'o'

6

In [23]:
s

'hello world'

In [29]:
s.center(30, 'z')      #centers the string between the stipilated letter, for to make total number of leter to be(30)

'zzzzzzzzzhello worldzzzzzzzzzz'

In [30]:
'hello\thi'          #spaces

'hello\thi'

In [32]:
print('hello\thi')

hello	hi

In [34]:
print('hello\nhi')          #does next line

hello
hi

In [35]:
s = 'hello'

In [41]:
n = 'Hello@3'

In [37]:
s.isalnum()          #checks if all char are alphanumeric

True

In [42]:
n.isalnum()

False

In [43]:
s.isalpha()

True

In [44]:
s.islower()

True

In [45]:
n.islower()

False

In [46]:
s.istitle()  #is either is a title

False

In [48]:
s.isupper()

False

In [49]:
s.endswith('o')   #  or s[-1] = 'o'

True

In [51]:
s.split('e')   #splits at each occarance of 'e'

['h', 'llo']

# 3. Advanced Sets

In [52]:
s = set()

In [53]:
s.add(1)

In [54]:
s.add(2)

In [55]:
s

{1, 2}

In [56]:
s.clear()

In [57]:
s

set()

In [58]:
s.add(1,2,3)

TypeError: add() takes exactly one argument (3 given)

In [59]:
s

set()

In [60]:
s.add(1)

In [61]:
s.add(2)

In [62]:
s.add(3)

In [63]:
s

{1, 2, 3}

In [65]:
s_copy = s.copy()      #makes a copy of the OG, alterations of whch wont affect OG

In [66]:
s_copy

{1, 2, 3}

In [67]:
s.add(4)

In [68]:
s

{1, 2, 3, 4}

In [69]:
s_copy

{1, 2, 3}

In [72]:
s.difference(s_copy)        #gives diffeence bwteen two sets

{4}

In [73]:
set_1 = {1,2,3}

In [74]:
set_2 = {1,4,5}

In [75]:
set_1.difference_update(set_2)     #gives the values in set1 but not in set2

In [76]:
set_1

{2, 3}

In [77]:
s

{1, 2, 3, 4}

In [78]:
s.discard(2)              #removes char in set

In [79]:
s

{1, 3, 4}

In [80]:
s1 = {1,2,3}

In [81]:
s2 = {1,2,4}

In [82]:
s1.intersection(s2)        #gives the intersection of two sets

{1, 2}

In [83]:
s1.intersection_update(s2)        #updates s1 as the inteesection

In [84]:
s1

{1, 2}

In [85]:
s1 = {1,2}

In [86]:
s2 = {1,2,4}

In [87]:
s3 = {5}

In [93]:
s1.isdisjoint(s2)            #checks is there is intersection, and retrns True if there is NO common char

False

In [92]:
s1.isdisjoint(s3)

True

In [95]:
s1.issubset(s2)       #checks if one set (smaller) is subset of another (bigger)

True

In [96]:
s3.issubset(s1)

False

In [97]:
s1

{1, 2}

In [98]:
s2

{1, 2, 4}

In [101]:
s1.symmetric_difference(s2)             #opposite of intersection

{4}

In [102]:
s1.union(s2)             #combines

{1, 2, 4}

In [103]:
s1.update(s2)

In [104]:
s1

{1, 2, 4}

# 3. Advanced Dictionaries

In [119]:
d = {'k1':1, 'k2':2}

In [106]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [111]:
{k:v**2 for k,v in zip(['a', 'b'],range(2))}

{'a': 0, 'b': 1}

In [123]:
for i in d.iteritems():           #iterates    (itervalues, iterkeys)   seems not to work
    print (i)

AttributeError: 'dict' object has no attribute 'iteritems'

In [124]:
d.viewitems()            #d.viewvalues / d.viewkeys

AttributeError: 'dict' object has no attribute 'viewitems'

# 4. Advanced Lists

In [125]:
i = [1,2,3]

In [126]:
i.append(5)

In [127]:
i

[1, 2, 3, 5]

In [128]:
i.count(2)    #counts 2s

1

In [130]:
x = [1,2,3]
x.append([4,5])
print (x)

[1, 2, 3, [4, 5]]

In [131]:
x = [1,2,3]
x.extend([4,5])
print (x)

[1, 2, 3, 4, 5]

In [133]:
i.index(2)       #position of

1

In [134]:
i

[1, 2, 3, 5]

In [135]:
i.insert(2, 'inserted_object')      #inserts object at stipulated index position

In [136]:
i

[1, 2, 'inserted_object', 3, 5]

In [137]:
i.pop()     #removes last object

5

In [138]:
i

[1, 2, 'inserted_object', 3]

In [139]:
c = [1,2,3,4,3]

In [140]:
c.remove(3)   #removes first instance of object, only

In [141]:
c

[1, 2, 4, 3]

In [142]:
c.reverse()

In [143]:
c

[3, 4, 2, 1]

In [144]:
c.sort()

In [145]:
c

[1, 2, 3, 4]